/*
* GloriousGrid v0.2.0 (2015-04-21)
* License: MIT
* Url: http://rafaelcamargo.com/pro/ggrid/welcome
* Repository: https://github.com/rafaelcamargo/gloriousgrid
*/

[class*="gg-col"]{min-height:50px;background-color:#f1f1f1;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px}
body,h1,h2,h3,h4,h5,h6,p{margin:0;padding:0;font-family:'Arial',sans-serif}
h1,h2,h3{padding-left:6px;line-height:50px;letter-spacing:-1px}
