@require 'var'
@require 'func'

.cp-btn
  display inline-block
  padding 10px
  color $color-primary
  text-align center
  text-transform capitalize
  text-decoration none
  text-overflow ellipsis
  border 1px solid $color-primary
  white-space nowrap
  overflow hidden
  border-radius(3px)
  &.cp-btn-block
    display block
