@require 'var'
@require 'func'

.l-doc-col-visible
  .gg-row
    margin-left 0
    margin-right 0
  [class*="gg-col"]
    padding-top 10px
    padding-bottom 10px
    text-align center
    border 1px solid $color-primary
  [class*="gg-col"] + [class*="gg-col"]:not([class*="gg-hoff"])
    border-left 0

+breakpoint('md')
  .l-doc-col-visible
    .gg-row + .gg-row
      [class*="gg-col"]
        border-top 0

+breakpoint('xs-sm')
  .l-doc-col-visible
    .gg-row
      [class*="gg-col"] + [class*="gg-col"]
        border-left 1px solid $color-primary
      &.gg-kom,
      &.gg-kot
        [class*="gg-col"] + [class*="gg-col"]
          border-left 0
    .gg-row + .gg-row:not([class*="gg-voff"])
      margin-top 10px

+breakpoint('xs')
  .l-doc-col-visible
    .gg-row
      &.gg-kot
        [class*="gg-col"] + [class*="gg-col"]
          border-left 1px solid $color-primary
