@require 'var'

section
  position relative
  padding 100px 0
  background-color $color-white
  &:nth-child(even)
    background-color $color-grey-light
  h1, h2
    text-transform capitalize
  &.cp-section-cover
    padding 190px 0
    background-color transparent
    h1, h2
      color $color-tertiary
