@require 'var'
@require 'func'

section
  position relative
  padding 100px 0
  background-color $color-white
  &:nth-child(even)
    background-color $color-grey-light
  h1, h2, h3
    text-transform capitalize
  h3
    display inline-block
  &.cp-section-cover
    padding 190px 0
    background-color transparent
    h1, h2, h3
      color $color-tertiary

+breakpoint('xs')
  section
    padding 35px 0
    &.cp-section-cover
      padding 130px 0
    h3
      display block
