//$color-primary = #0046B4
$color-primary = #009CFF
$color-secondary = #00D2F0
$color-tertiary = #CFFFE3

$color-grey-dark = #666666
$color-grey = #CCCCCC
$color-grey-light = #F0F0F0

$color-white = #FFFFFF
$color-black = #333333

$font-family = 'Source Sans Pro', Helvetica, Arial, sans-serif

$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 959px
$screen-md-min = 960px
$screen-md-max = 1440px
$screen-lg-min = 1441px
