@require 'var'
@require 'func'

body, h1, h2, h3, h4, h5, h6, p
  color $color-grey-dark
  font-family $font-family
  
p
  font-size 0.875em
  line-height 1.5
  
h1
  font-size 2.25em

h2
  font-size 1.5em
  
h3
  font-size 1.125em
  
h4
  font-size 1em
  
h5
  font-size 0.875em
  
h6
  font-size 0.75em
  
code
  padding 0 5px
  background-color $color-grey-light
  font-family $font-family-secondary
  border 1px solid $color-grey
  roundBorder(3px)