.cp-menu-container(data-js="menu")
  ul.cp-menu
    li.icon-star(data-js="menu-intro")
      a(href="javascript:void(0)") #{$i18n.menu.intro}
    li.icon-install(data-js="menu-install")
      a(href="javascript:void(0)") #{$i18n.menu.install}
    li.icon-code(data-js="menu-usage")
      a(href="javascript:void(0)") #{$i18n.menu.usage}
    li.icon-fork(data-js="menu-contribute")
      a(href="javascript:void(0)") #{$i18n.menu.contribute}
