section.is-text-center
  .gg-container
    .gg-row
      .gg-col-12
        h1 #{$i18n.menu.install}
    .gg-row.gg-voff-5.gg-kot
      .gg-col-8.gg-hoff-2
        p #{$i18n.section.install.text}
    .gg-row.gg-voff-3.gg-kot
      .gg-col-4.gg-hoff-2
        code.is-text-center npm install ggrid --save-dev
      .gg-col-4
        a.cp-btn.cp-btn-block(href="javascript:void(0)") #{$i18n.button.download}
