.cp-menu-container
  ul.cp-menu
    li.icon-star
      a(href="#introduction") #{$i18n.menu.intro}
    li.icon-install
      a(href="#install") #{$i18n.menu.install}
    li.icon-code
      a(href="#usage") #{$i18n.menu.usage}
    li.icon-fork
      a(href="#contribute") #{$i18n.menu.contribute}
