mixin section-usage-topic(title, text, css)
  .gg-row.gg-voff-5
    .gg-col-12
      h3 #{title}
        span.cp-class-name-box #{css}
  .gg-row.gg-voff-3
    .gg-col-12
      p #{text}

mixin section-usage-topic-content()
  .gg-row.gg-voff-3
    .gg-col-12
      block

mixin section-usage-topic-sample()
  +section-usage-topic-content()
    .l-doc-col-visible
      block
