section.is-text-center(data-js="section-contribute")
  .gg-container
    .gg-row
      .gg-col-12
        h2 #{$i18n.menu.contribute}
    .gg-row.gg-voff-3
      .gg-col-12
        p #{$i18n.section.contribute.text}
          a(href="https://github.com/rafaelcamargo/glorious-grid") Github
