- var title= $i18n.section.usage.topics.column.title
- var text= $i18n.section.usage.topics.column.text

+section-usage-topic(title, text, '.gg-col-[1...12]')

+section-usage-topic-sample()
  include _section-usage-col-sample.jade

+section-usage-topic-content()
  include _section-usage-col-code.jade
