section.is-text-center(data-js="section-install")
  .gg-box
    .gg-row
      .gg-col-12
        h2 #{$i18n.menu.install}
    .gg-row.gg-vof-5.gg-kot
      .gg-col-8.gg-hof-2
        p #{$i18n.section.install.text}
    .gg-row.gg-vof-3.gg-kot
      .gg-col-4.gg-hof-2
        code.is-text-center npm install ggrid --save
      .gg-col-4
        a.cp-btn.cp-btn-block(href="https://raw.githubusercontent.com/rafaelcamargo/glorious-grid/master/dist/ggrid.min.css").
          #{$i18n.button.download}
