section(data-js="section-usage")
  .gg-container
    .gg-row.is-text-center
      .gg-col-12
        h2 #{$i18n.menu.usage}
    
    include _section-usage-container.jade

    include _section-usage-rows.jade

    include _section-usage-horizontal-offset.jade
