- var title= $i18n.section.usage.topics.box.title
- var text= $i18n.section.usage.topics.box.text

+section-usage-topic(title, text, '.gg-box')

+section-usage-topic-sample()
  include _section-usage-box-sample.jade

+section-usage-topic-content()
  include _section-usage-box-code.jade
