- var title= $i18n.section.usage.topics.horizontal_offset.title
- var text= $i18n.section.usage.topics.horizontal_offset.text

+section-usage-topic(title, text, '.gg-hof-[1...11]')

+section-usage-topic-sample()
  include _section-usage-hof-sample.jade

+section-usage-topic-content()
  include _section-usage-hof-code.jade
