pre: code.
  <div class="gg-row">
    <div class="gg-col-12">12 cols</div>
  </div>
  <div class="gg-row gg-vof-3">
    <div class="gg-col-6">6 cols</div>
  </div>
  <div class="gg-row gg-vof-6">
    <div class="gg-col-9">9 cols</div>
  </div>
