- var title= $i18n.section.usage.topics.container.title
- var text= $i18n.section.usage.topics.container.text

+section-usage-topic(title, text, '.gg-container')

+section-usage-topic-sample()
  include _section-usage-container-sample.jade

+section-usage-topic-content()
  include _section-usage-container-code.jade
