.gg-row
  .gg-col-12 12 cols
    .gg-row.gg-kom
      .gg-col-6(style="line-height:122px") 6 cols
      .gg-col-6 6 cols
        .gg-row.gg-kom
          .gg-col-7 7 cols
            .gg-row.gg-kom
              .gg-col-3 3 cols
              .gg-col-3 3 cols
              .gg-col-3 3 cols
              .gg-col-3 3 cols
          .gg-col-5 5 cols
            .gg-row.gg-kom
              .gg-col-7 7 cols
              .gg-col-5 5 cols
