section.is-text-center(data-js="section-intro")
  .gg-box
    .gg-row
      .gg-col-12
        h2 #{$i18n.menu.intro}
    .gg-row.gg-vof-5.gg-kot
      .gg-col-8.gg-hof-2
        p #{$i18n.section.intro.text}
