- var title= $i18n.section.usage.topics.row.title
- var text= $i18n.section.usage.topics.row.text

+section-usage-topic(title, text, '.gg-row')

+section-usage-topic-sample()
  include _section-usage-row-sample.jade

+section-usage-topic-content()
  include _section-usage-row-code.jade
