pre: code.
  <div class="gg-row">
    <div class="gg-col-6 gg-hoff-6">6 cols</div>
  </div>
  <div class="gg-row">
    <div class="gg-col-6">6 cols</div>
  </div>
  <div class="gg-row">
    <div class="gg-col-3 gg-hoff-6">3 cols</div>
    <div class="gg-col-1 gg-hoff-2">1 col</div>
  </div>
