pre: code.
  <div class="gg-box">
    <div class="gg-row">
      <div class="gg-col-6 gg-hof-6">6 cols</div>
    </div>
    <div class="gg-row">
      <div class="gg-col-6">6 cols</div>
    </div>
    <div class="gg-row">
      <div class="gg-col-3 gg-hof-6">3 cols</div>
      <div class="gg-col-1 gg-hof-2">1 col</div>
    </div>
  </div>
