pre: code.
  <div class="gg-row">
    <div class="gg-col-12">12 cols
      <div class="gg-row">
        <div class="gg-col-6">6 cols</div>
        <div class="gg-col-6">6 cols
          <div class="gg-row">
            <div class="gg-col-7">7 cols
              <div class="gg-row">
                <div class="gg-col-3">3 cols</div>
                <div class="gg-col-3">3 cols</div>
                <div class="gg-col-3">3 cols</div>
                <div class="gg-col-3">3 cols</div>
              </div>
            </div>
            <div class="gg-col-5">5 cols
              <div class="gg-row">
                <div class="gg-col-8">8 cols</div>
                <div class="gg-col-4">4 cols</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
