pre: code.
  <div class="gg-box">
    <div class="gg-row">
      <div class="gg-col-3">3 cols</div>
      <div class="gg-col-3">3 cols</div>
      <div class="gg-col-3">3 cols</div>
      <div class="gg-col-3">3 cols</div>
    </div>
    <div class="gg-row">
      <div class="gg-col-6">6 cols</div>
      <div class="gg-col-6">6 cols</div>
    </div>
    <div class="gg-row">
      <div class="gg-col-12">12 cols</div>
    </div>
  </div>
