- var title= $i18n.section.usage.topics.responsiveness.title
- var text= $i18n.section.usage.topics.responsiveness.text

+section-usage-topic(title, text, '.gg-kot, .gg-kom')

+section-usage-topic-sample()
  include _section-usage-responsiveness-sample.jade

//- +section-usage-topic-content()
//-   include _section-usage-responsiveness-code.jade
