- var title= $i18n.section.usage.topics.rows.title
- var text= $i18n.section.usage.topics.rows.text

+section-usage-topic(title, text, '.gg-row')

+section-usage-topic-sample()
  include _section-usage-rows-sample.jade

+section-usage-topic-content()
  include _section-usage-rows-code.jade
