- var title= $i18n.section.usage.topics.vertical_offset.title
- var text= $i18n.section.usage.topics.vertical_offset.text

+section-usage-topic(title, text, '.gg-vof-[1...12]')

+section-usage-topic-sample()
  include _section-usage-vof-sample.jade

+section-usage-topic-content()
  include _section-usage-vof-code.jade
