pre: code.
  <div class="gg-box">
    <div class="gg-row gg-kom">
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
      <div class="gg-col-1">1 col</div>
    </div>
  </div>
