- var title= $i18n.section.usage.topics.nesting.title
- var text= $i18n.section.usage.topics.nesting.text

+section-usage-topic(title, text)

+section-usage-topic-sample()
  include _section-usage-nesting-sample.jade

+section-usage-topic-content()
  include _section-usage-nesting-code.jade
