section
  .gg-container
    .gg-row.is-text-center
      .gg-col-12
        h1 #{$i18n.menu.usage}
    .gg-row.gg-voff-5
      .gg-col-12
        h2 #{$i18n.section.usage.topics.container.title}
          span.cp-class-name-box .gg-container
    .gg-row.gg-voff-3
      .gg-col-12
        p #{$i18n.section.usage.topics.container.text}
    .gg-row.gg-voff-3
      .gg-col-12
        .gg-doc-col-visible
          include _sample-container.jade
    .gg-row.gg-voff-3
      .gg-col-12
        pre: code.
          <div class="gg-container">
            <div class="gg-row">
              <div class="gg-col-6">6 cols</div>
              <div class="gg-col-6">6 cols</div>
            </div>
          </div>
