doctype html
html
  include _component-head.jade
  include _mixins.jade
  body
    include _component-menu-lang.jade
    
    include _section-cover.jade

    include _section-intro.jade

    include _section-install.jade

    include _section-usage.jade

    include _section-contribute.jade

    script(type="text/javascript", src="../assets/dist.min.js")
