doctype html
html
  include _head.jade
  body
    include _menu-lang.jade
    
    include _cover.jade

    include _intro.jade

    include _install.jade

    include _usage.jade

    script(type="text/javascript", src="../assets/dist.js")
