@require 'gg-var'

// Columns Builder

buildCols()
  for num in (1..$total-cols)
      buildColForTwelveColsGrid(num)
      buildColForOneColGrid(num)
  setMarginTopForSiblingCols($base-sibling-col-offset)

buildColForTwelveColsGrid(num)
  .gg-col-{num}
    width getPercent(num)

buildColForOneColGrid(num)
  buildColForOneColGridOnMobile(num)
  buildColForOneColGridOnTablet(num)

buildColForOneColGridOnMobile(num)
  +breakpoint('xs-sm')
    .gg-col-{num}
      width getPercent($total-cols)
    &.gg-kom
      > .gg-col-{num}
        width getPercent(num)
      
buildColForOneColGridOnTablet(num)
  +breakpoint('sm')
    .gg-col-{num}
      width getPercent($total-cols)
    &.gg-kot
      > .gg-col-{num}
        width getPercent(num)

getPercent()
  arguments/$total-cols * 100%

setMarginTopForSiblingCols()
  +breakpoint('xs-sm')
    [class*="gg-col"] + [class*="gg-col"]
      margin-top arguments * 1px
    .gg-kom
      > [class*="gg-col"] + [class*="gg-col"]
        margin-top 0
  +breakpoint('sm')
    .gg-kot
      > [class*="gg-col"] + [class*="gg-col"]
        margin-top 0
        
buildRowMargin()
  $base-width-gutter/2 * -1px

// Helpers

clearfix()
  zoom 1
  &:after
    content " "
    display table
    clear both

createVerticalOffsets()
  for num in (1..12)
    .gg-voff-{num}
      margin-top num * 10px
      
createHorizontalOffsets()
  for num in (1..$total-cols - 1)
    .gg-hoff-{num}
        margin-left getPercent(num)
    +breakpoint('xs-sm')
      .gg-hoff-{num}
        margin-left 0
      .gg-kom
        .gg-hoff-{num}
            margin-left getPercent(num)
    +breakpoint('sm')
      .gg-kot
        .gg-hoff-{num}
            margin-left getPercent(num)

// Breakpoints

breakpoint(size)
  if(size == 'xs')
    @media screen and (max-width $screen-xs-max)
      {block}
  else if (size == 'xs-sm')
    @media screen and (max-width $screen-sm-max)
      {block}
  else if (size == 'sm')
    @media screen and (min-width $screen-xs-max) and (max-width $screen-sm-max)
      {block}
  else if (size == 'sm-md')
    @media screen and (min-width $screen-sm-min) and (max-width $screen-md-max)
      {block}
  else if (size == 'md')
    @media screen and (min-width $screen-sm-max) and (max-width $screen-md-max)
      {block}
