$total-cols = 12
$base-sibling-col-offset = 10
$base-width-container = 960
$base-width-gutter = 20
$base-width-col = 60

$screen-xs-max = 767px
$screen-sm-min = 768px
$screen-sm-max = 959px
$screen-md-min = 960px
$screen-md-max = 1440px
$screen-lg-min = 1441px
